
@font-face {
    font-family: PoiretOne;
    src: url(fonts/PoiretOne-Regular.ttf);
}

*{
    font-family: PoiretOne;
}

body{
    background-color: #d6d2cf;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    margin: 0%;
    padding: 0%;
}

.interactive{
    position: fixed;
    top: 0;
    bottom: 0;
}

#icon:hover{
    transform: scale(1.05);
    content: url("images/kirby_awake.PNG");
}

#icon{
    width: 150px;
}

h3{
    color: #990e13;
}

.pic{
    border: 3px dashed #ada29a;
    border-radius: 20px;
}

#container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#sidebar{
    display: flex;
    flex-direction: column; 
    width: 20%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #f6f6f6;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 10px gray;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#sidebar:hover{
    box-shadow: 2px 2px 15px;
    transform: scale(1.005);
}

#logo{
    flex: 1 1 1;
}

#toc{
    text-align: center;
}

ol{
    padding: 0%;
}


li{
    font-size: 23px;
    color: #990e13;
    list-style-type: none;
    padding: 5px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: #990e13;
    text-decoration-thickness: 2px;
}

#content{
    width: 80%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 30px;
}

.block{
    display: flex;
    flex-direction: column;
}

.block-wrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.image-wrapper{
    display: flex;
    flex-direction: column;
}

.box{
    background-color: #f6f6f6;
    border: 3px solid #ada29a;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    flex: 1 1 1;
    flex-wrap: wrap;
    max-width: 1500px;
}

.box p{
    margin: 0;
    text-align: justify;
}

#you{
    height: 275px;
    object-fit: cover;
    flex: 1 1 1;
}

#sig{
    width: 200px;
    margin: auto;
}

.quote{
    border-left: 5px solid #990e13;
    padding: 10px;
}

button{
    height: 50px;
    width: 75px;
    background-color: #990e13;
    text-align: center;
    font-size: 30px;
    color: #f6f6f6;
    box-shadow: 3px 3px 3px black;
    margin: 10px;
}

button:hover{
    box-shadow: 3px 3px 6px black;
    transform: scale(1.02);
}

#button1{
    position: fixed;
    bottom: 0;
    right: 0;
}

#button2{
    position: fixed;
    bottom: 0;
}

/*Scroll bar*/

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    background-color: #ada29a;
}

::-webkit-scrollbar-thumb{
    background-color: #990e13;
    border-radius: 15px;
}

